@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 15 23 42;
    --background: 248 250 252;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom focus ring */
input:focus, textarea:focus, select:focus, button:focus-visible {
  outline: none;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

